<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="companyConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=c:\sqldata\company.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>