<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="companyConnectionString" connectionString="Persist Security Info=False;Integrated Security=False;Server=PROJECT108VM\SQLEXPRESS;Initial Catalog=order;
 User ID=sa;Password=1003;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>